.frame{
    background: black;
    padding: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.leftSection{
    display: inline-block;
    width: 50%;
    background: white;
}
.rightSection{
    display: inline-block;
    width: 50%;
    text-align: right;
    background: red;
}