.image{
    width: 100%;
    height: 300px;
    object-fit: fill;
}
.frame{
    background-color: #e5e5e5;
    margin: 20px 0;
    height: 350px;
    cursor: pointer;
}
.result{
    padding: 100px 0;
    text-align: center
}